body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    font-family: var(--font-base);
    font-weight: 100;
    background-color: var(--white);
}

@keyframes fadeSlideUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.cv-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1600px;
    background-color: var(--white);
    padding: 40px;
    border-radius: 10px;
    gap: 4vw;
    margin: 0;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeSlideUp 1s ease-out forwards;
    animation-delay: 0.2s;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left img,
.left .quote,
.left .section {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeSlideUp 0.8s ease-out forwards;
}

.left img {
    width: 100%;
    max-width: 250px;
    margin-bottom: 20px;
    animation-delay: 0.4s;
}

.left .quote {
    font-style: italic;
    margin-bottom: 30px;
    text-align: center;
    animation-delay: 0.6s;
    color: var(--black);
    font-weight: 100;
}

.section {
    width: 100%;
    margin-bottom: 20px;
}

.left .section {
    animation-delay: 0.8s;
}

.section h3 {
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 5px;
}

.section ul {
    list-style: none;
}

.languages li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.languages span {
    display: inline-block;
    width: 100px;
}

.lang-bar {
    flex: 1;
    height: 10px;
    background-color: var(--white);
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid var(--black);
}

.lang-bar div {
    height: 100%;
    background-color: var(--black);
}

.skills ul {
    columns: 2;
}

.right {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.right h2,
.right p,
.right .section {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeSlideUp 0.8s ease-out forwards;
}

.right h2 {
    font-size: 5rem;
    margin-bottom: 5px;
    animation-delay: 1s;
}

.right p {
    margin-bottom: 15px;
    line-height: 1.4;
    animation-delay: 1.2s;
}

.right .section {
    margin-top: 20px;
    animation-delay: 1.4s;
}

.qr-code {
    width: 80px;
    margin-bottom: 20px;
}

@media (max-width: 1200px) {
    .cv-container {
        flex-direction: column;
        padding: 20px;
    }

    .left,
    .right {
        flex: unset;
    }

    .hello {
        font-size: 36px;
        margin-bottom: 20px;
    }
}
