body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  padding: 4rem 5%;
  display: flex;
  flex-direction: column;
  gap: 0;
}

h1 {
  margin: 0;
  font-family: var(--font-base);
  font-weight: 700;
  font-size: 8rem;
}

.contact-wrapper {
  display: flex;
  gap: 5%;
  flex-wrap: wrap;
}

.contact-section {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact-section h2 {
  font-size: 2rem;
  font-weight: 700;
  border-bottom: 2px solid var(--black);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.row {
  display: flex;
  gap: 1rem;
}

.row input {
  flex: 1;
  padding: 1rem 0;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid var(--black);
  outline: none;
  background-color: transparent;
}

.contact-form input[type="email"],
.contact-form textarea,
.contact-form select {
    font-family: var(--font-base);
  width: 100%;
  padding: 1rem 0;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid var(--black);
  outline: none;
  background-color: transparent;
}

textarea {
  background-color: transparent;
  min-height: 150px;
  resize: vertical;
}

button {
  padding: 1rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
  width: fit-content;
  transition: 0.3s;
}

button:hover {
  background-color: var(--secondary);
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-weight: 700;
}

.contact-info a {
  color: var(--black);
  text-decoration: none;
}

/* Checkbox personalizado */
.checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
}

.checkbox-wrapper:hover {
color: var(--secondary);
transition: 0.3s;
cursor: pointer;
}

.checkbox-wrapper input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--black);
  position: relative;
  cursor: pointer;
}

.checkbox-wrapper input[type="checkbox"]:checked::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  background-color: var(--secondary);
  border-radius: 50%;
}


@media (max-width: 900px) {
    h1{
        font-size: 15vw;
    }
  .contact-wrapper {
    flex-direction: column;
  }

  .contact-section {
    flex: 1 1 100%;
  }
}
