      body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--black);
        margin: 0;
        overflow: hidden;
      }

      .btn-wrapper {
        position: relative;
      }

      .btn {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--white);
        border: 1px solid var(--white);
        font-size: 18px;
        font-weight: bold;
        border-radius: 50%;
        cursor: pointer;
        overflow: hidden;
        width: 50vh;
        height: 50vh;
        text-align: center;
        transition: transform 0.2s ease-out;
      }

      .btn p,
      .btn img {
        mix-blend-mode: difference;
      }

      .btn img.btn-arrow {
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
      }

      .hover-ball {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        background: var(--white);
        border-radius: 50%;
        pointer-events: none;
        transform: translate(-50%, -50%);
        display: none;
        z-index: 0;
      }

      .page-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--white);
        pointer-events: none;
        opacity: 0;
        border-radius: 50%;
        transform: scale(0);
        transform-origin: 50% 50%;
        transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
        z-index: 100;
      }