:root {
  --black: #090909;
  --white: #e7e7db;
  --secondary: rgb(32, 185, 70);
  --font-base: urbane, sans-serif;
  --font-titulo: "futura-100", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: var(--white);
  font-family: var(--font-base);
}

p,
a {
  font-family: var(--font-base);
}
h1,
h2 {
  font-family: var(--font-titulo);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  z-index: 2;
  font-family: var(--font-base);
  font-size: 1.4rem;
}

.logo img {
  width: 4rem;
  transition: 0.3s;
  filter: invert(1);
}
.logo img:hover {
  transform: scale(1.1);
}

.nav-left,
.nav-right {
  display: flex;
  gap: 2.5rem;
}
.nav-left {
  margin: 0 auto;
  margin-left: 45vw;
}
.nav-left a,
.nav-right a {
  color: var(--black);
  text-decoration: none;
  font-weight: 400;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
}
.nav-left a.active,
.nav-right a.active {
  color: var(--secondary);
  pointer-events: none;
  font-weight: 700;
}
.nav-left a:hover,
.nav-right a:hover {
  color: var(--secondary);
}
.nav-left a::before {
  content: "→";
  position: absolute;
  left: -1.5rem;
  top: 40%;
  transform: translateY(-50%) scale(0);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  color: var(--secondary);
}
.nav-left a:hover::before,
.nav-right a:hover::before {
  transform: translateY(-50%) scale(1);
  opacity: 1;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 0.4rem;
  cursor: pointer;
  z-index: 4;
}
.hamburger span {
  width: 2rem;
  height: 0.2rem;
  background-color: var(--black);
  border-radius: 25%;
  transition: all 0.4s ease;
}
.hamburger:hover span {
  background-color: var(--secondary);
}
.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(8px, 8px);
}
.hamburger.open span:nth-child(2) {
  opacity: 0;
}
.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.mobile-menu {
  z-index: 2;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(9, 9, 9, 0.85);
  backdrop-filter: blur(10px);
  padding: 6rem 3rem;
  flex-direction: column;
  gap: 2rem;
}
.mobile-menu nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.mobile-menu nav a {
  font-size: 2.5rem;
  text-align: left;
  color: var(--white);
  transition: color 0.3s ease;
}
.mobile-menu nav a:hover {
  color: var(--secondary);
}

@media screen and (max-width: 1524px) {
  .nav-left,
  .nav-right {
    display: none;
  }
  .hamburger {
    display: flex;
  }
  .mobile-menu.active {
    display: flex;
  }
}
